@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Julius;
  src: url(../assets/JuliusSansOne-Regular.ttf);
}
hr{
  border: black 1px solid;
  width: 75%;
}
.iconS {
  width: 70px;
}
.bigT {
  font-family: Julius;
  font-size: 72px;
}
.circle{
  padding: 10px;
  border-color: #F1BC00;
  border-width: 15px;
  border-radius: 50%;
  width: 350px;
  height: 350px;
}
.iconXS {
  width: 40px;
}
.inputs{
  width: 25%;
  height: 80px;
  border-radius: 15px;
  border-color: black;
  border-width: 2px;
}
.wBtn{
  width: 100px;
  border-radius: 15px;
  border-color: black;
  border-width: 2px;
  background-color: #595959;
}
.wBtn:hover{
  background-color: #3d3d3d;
}
.gradiv{
  background-image: linear-gradient(#FBFBFB, #9BD5FF);
}
.favdiv{
  background-color: #EBEBEB;
}